h1 {
    text-align: center;
    font-size:50px;
}

p img{
    height:300px;
    width:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

a {
    display: block;
    margin: 8px auto;
    font-size: 32px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 500px;
    height: auto;
}

.lasagna {
    background-color: lightblue;
    color: black;
}

.bibimbap {
    background-color: lightcoral;
    color: rgb(2, 52, 2);
}

.cookies {
    background-color: rgb(149, 100, 14);
    color: white;
}